{% waveDivider  true, "#f3f8f5" %}
<div class="bg-[#f3f8f5] py-14">
    <div class="main-container mb-8">
        <h1 class="text-4xl font-semibold mb-8">Contribute</h1>
        <p class="text-lg">Since the app is free and without ads, you are more than welcome to help us if you want to see new
            features. You can donate on Ko-Fi or buy a set of stickers on NMF.earth little shop. Money collected will be spend
            within the community and also in development cost. For example, an Apple Developer account is needed to publish iOS apps
            and it cost $99 per year.</p>
        <p class="text-lg">
            Financial help is nice, but there are others ways to help the project. You can contribute to the code or to the
            translation. So far, more than 30 developers, 4 designers and 10 translators have contributed to the app!
        </p>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 pb-4 pt-14">
            <div>
                <h3 class="text-xl font-medium mb-5">Developers</h3>
                <p class="text-lg">You contribution is very welcome in Github!</p>
            </div>
            <div>
                <h3 class="text-xl font-medium mb-5">Designers & illustrators</h3>
                <p class="text-lg">Our Figma file need some love. Contact us if you want to maintain it.</p>
            </div>
            <div>
                <h3 class="text-xl font-medium mb-5">Copywriters & journalists</h3>
                <p class="text-lg">Writing articles about the new features, climate news and more.</p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-5">
            <div>
                <h3 class="text-xl font-medium mb-5">Translators</h3>
                <p class="text-lg">Do you speak english and another language? You can help us translating the app on Poeditor</p>
            </div>
            <div>
                <h3 class="text-xl font-medium mb-5">Donate</h3>
                <p class="text-lg">If you do so, mention that is for NMF.earth project :)</p>
            </div>
            <div>
                <h3 class="text-xl font-medium mb-5">Quick help</h3>
                <p class="text-lg">Share the app around you, send some feedback or leave a good rating on the App store and Google Play</p>
            </div>
        </div>
    </div>
</div>
{% waveDivider  false, "#f3f8f5" %}