<div class="main-container">
    <h2 class="text-4xl font-semibold text-center mb-10">Vision & Values</h2>
    <section class="grid grid-cols-1 gap-y-3 divide-y">
        {% accordion  "Are you a startup?", "No, and NMF.earth will never be one, it's simply an open-source side project, not even a company. Startups are, by definition, companies looking for exponential growth. The problem is that exponential growth is the reason why we have global warming." %}
        {% accordion  "Are you collecting my data?", "No, we don't track what you do in the app, we only collect crash data to be able to fix bugs. Grab a cup of coffee and read our open-source code, you will see that we don’t track anything of what you do, absolutely nothing." %}
        {% accordion  "What is your goal?", "Disappear! Contrary to the tech industry, we hope you will stop using our app after some time. The only goal of NMF.earth is to help anyone understand and reduce its carbon footprint. Once it's done, we encourage you to continue in this path, without our input." %}
        {% accordion  "How are you different?", "We do not track your in-app activity, we are not a company so we are not trying to get money from you, NMF.earth is just an open-source project made by random climate activist around the world. We also don't exploit psychological vulnerabilities, like bottomless feeds or auto-play to keep you from leaving the app. Since we don’t track you, we really appreciate any feedback you can provide us. We want to take the time to understand what you need and what to improve for you. You're are a human being, not a series of numbers and statistics on a screen." %}
        {% accordion  "Is everyone doing greenwashing?", "Yes, almost. We should all collaborate in order to fight climate change so keep in mind that anything not open-source means business as usual. If you see that some organisation don't share everything, it means this organisation interest is motivated by greedy profits and survival, not helping mitigate climate change and promote sustainable lifestyles. We are not selling anything and everything we do is 100% open to everyone." %}
        {% accordion  "Why NMF?", "NMF is a shortcut for Not My Fault (?), an open invitation to question our modern lifestyle and our participation in the current ecocide." %}
        {% accordion  "Why do I have to enter manually my emissions?", "We are working on adding recurrent emissions but we won't go further than that, meaning you won't be able to get your carbon footprint automatically calculated from your expenses for example. It's annoying by design, as a kind reminder to pollute and consume less." %}
        {% accordion  "Why do you encourage people to be vegetarian / vegan / flexitarian ?", "Industrial farming of animals generates a lot of CO2 emissions but not only, it's also horrible. Each day approximately 160 million farm animals throughout the world are transported to a slaughterhouse. Maybe it's okay for you, but not for us. " %}
    </section>
</div>