<div class="main-container flex flex-col md:flex-row items-center">
    <div class="flex-1">
        <h2 class="text-4xl font-semibold mb-5">Milestones</h2>
    </div>
    <div class="flex-1">
        <ol class="relative border-l border-gray-200">
            <li class="mb-10 ml-4">
                <div class="timeline"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400">November 2021
                </time>
                <p class="mb-4 text-base">
                    v0.10.0 : You can now use metric or imperial system
                </li>
                <li class="mb-10 ml-4">
                    <div class="timeline"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">November 2021
                    </time>
                    <p class="mb-4 text-base">
                        v0.9.0 : Scan barcodes on food products to get the environmental impact of what you eat</p>
                </li>
                <li class="mb-10 ml-4">
                    <div class="timeline"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">September 2021</time>
                    <p class="mb-4 text-base">
                        v0.8.0 : App translated in more than 10 languages, more than 30 contributors on Github</p>
                </li>
                <li class="mb-10 ml-4">
                    <div class="timeline"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">
                        October 2020</time>
                    <p class="mb-4 text-base">
                        v0.5.0 : Sustainable guide available</p>
                </li>
                <li class="mb-10 ml-4">
                    <div class="timeline"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">
                        March 2020</time>
                    <p class="mb-4 text-base">
                        v0.0.1: App released</p>
                </li>
                <li class="mb-10 ml-4">
                    <div class="timeline"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">
                        October 2019</time>
                    <p class="mb-4 text-base">
                        Kickstarter campaign</p>
                </li>
            </ol>
        </div>
    </div>