{% waveDivider  true, "#f3f8f5" %}
<div class="bg-[#f3f8f5] py-14">
    <div class="main-container">
        <h2 class="text-4xl font-semibold mb-5">We care about you</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-5">
            <div>
                <h3 class="text-xl font-medium mb-5">Privacy by design</h3>
                <p class="text-lg">All data provided in the app will never be sold or shared to any companies and we don't track what
                    you do in the app</p>
            </div>
            <div>
                <h3 class="text-xl font-medium mb-5">Ethic by design</h3>
                <p class="text-lg">
                    We don't exploit psychological vulnerabilities like bottomless feeds or auto-play to keep users from leaving</p>
            </div>
            <div>
                <h3 class="text-xl font-medium mb-5">100% Open source</h3>
                <p class="text-lg">
                    Everyone can add content to the app, verify, contribute or fix any incorrect information</p>
            </div>
        </div>
    </div>
</div>
{% waveDivider  false, "#f3f8f5" %}