<div class="main-container">
    <div class="flex flex-col md:flex-row items-center py-24">
        {% phoneMockup  "/assets/images/pages/index/carbon-budget.png" %}
        <div class="flex-1 py-10 px-0 md:px-14">
            <h2 class="text-5xl mb-5">
                <a id="download" class="no-underline">Download</a>
            </h2>
            <p class="text-lg">Download for free, without ads and no tracking</p>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
                <div>
                    {% include "index/googlePlay.njk" %}
                </div>
                <div>
                    {% include "index/appStore.njk" %}
                </div>
            </div>
        </div>
    </div>
</div>