{% waveDivider  true, "#f3f8f5" %}
<div class="bg-[#f3f8f5] py-14">
    <div class="main-container">
        <div class="text-center py-10">
            <h2 class="text-4xl font-semibold mb-5">Track what you do</h2>
            <p class="text-lg">Transport, food, electricity, streaming, clothing, cryptocurrency, purchases... any kind of carbon
                emission is available in the app. You can even scan barcodes on food products to get the environmental impact of what
                you eat!
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 items-center pb-14">
            {% phoneMockup  "/assets/images/pages/index/categories.png" %}
            {% phoneMockup  "/assets/images/pages/index/scan-bar-code.png" %}
            {% phoneMockup  "/assets/images/pages/index/add-scan-bar-code.png" %}
        </div>
    </div>
</div>
{% waveDivider  false, "#f3f8f5" %}