---
layout: baseWithMenuFullWidth
title: About
tags: page
order: 2
---

<div class="main-container">
    <h1 class="text-6xl mb-5">About</h1>
    <h2 class="text-lg mb-5">NMF.earth is a non-profit & community driven project.</h2>
</div>
<div class="h-24"></div>
{% include "about/we-care-about-you.njk" %}
<div class="h-24"></div>
{% include "about/milestones.njk" %}
<div class="h-24"></div>
{% include "about/contribute.njk" %}
<div class="h-24"></div>
{% include "about/faq.njk" %}