---
layout: baseWithMenuFullWidth
title: 'Privacy Policy'
tags: page
---

<div class="main-container">

<h1 class="text-xl mb-5">Privacy policy for the NMF.earth application</h1>

<br><br>

- Who is the owner of the application?
<br>
Pierre Bresson.

<br><br>

- What type of data is collected and how is it collected?
<br>
Data is collected anonymously in the form of crash logs using Sentry software.

<br><br>

- What is the legal basis for data collection?
<br>
The user has consented to the processing of his or her non-personal data for the purpose of analysing application crashes.

<br><br>

- For what specific purposes do you collect this data?
<br>
The data is collected anonymously in order to prevent future application crashes.

<br><br>

- Which third parties will have access to this information?
<br>
No third parties have access to this data.

<br><br>

- What rights do users have?
<br>
Users cannot request the deletion of crash data, as it is anonymous and automatically deleted after 90 days.

<br><br>

- What is the process for notifying users and visitors of changes or updates to the confidentiality policy?
<br>
When there is a software update, users can visit this page to consult the changes.

<br><br>
- When does the privacy policy come into effect?
<br>
1 December 2023

</div>