<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Icons -->
  <!-- https://favicon.io/ -->
  <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/assets/favicon/apple-touch-icon.png' | url }}"/>
  <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/assets/favicon/favicon-32x32.png' | url }}"/>
  <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/assets/favicon/favicon-16x16.png' | url }}"/>
  <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | url }}"/>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
  <title>{{site.name}}
    {% if title %} - {{title}}
    {% endif %}
  </title>
  <meta name="description" content="
      {% if description %}
        {{description}}
      {% else %}
        {{site.description}}
      {% endif %}
    "/>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>