<div class="flex justify-between mt-8">
    <div>
        {% if pagination.href.previous %}
            {% badge "Précédent", "arrow-back", pagination.href.previous %}
        {% endif %}
    </div>
    <div>
        {% if pagination.href.next %}
            {% badge "Suivant", "arrow-forward", pagination.href.next %}
        {% endif %}
    </div>
</div>